<template>
    <div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Paises</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <input type="hidden" name="pais" v-model="selectedCountry.id">
                    <v-select  v-model="selectedCountry"   label="name" :options="countries" placeholder="Seleccionar"></v-select>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Provincias</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <input type="hidden" name="provincia" v-model="selectedProvince.id">
                    <v-select v-model="selectedProvince"  label="name" :options="provinces" placeholder="Seleccionar"></v-select>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Ciudades</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <input type="hidden" name="ciudad" v-model="selectedDistrict.id">
                    <v-select v-model="selectedDistrict"  label="name" :options="districts" placeholder="Seleccionar"></v-select>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        data() {
            return {
                countries: [],
                provinces: [],
                districts: [],


                selectedCountry: "",
                selectedProvince:"",
                selectedDistrict:""

            }
        },
        watch: {
            selectedCountry: function () {
                this.provinces = [];
                if (this.selectedCountry.id > 0) {
                    this.getProvinces(this.selectedCountry.id);
                }
            },
            selectedProvince: function () {
                this.districts = [];
                if (this.selectedProvince.id > 0) {
                    this.getDistricts(this.selectedProvince.id);
                }
            }

        },
        methods: {
            getCountries: function () {
                axios.get('/countriesj')
                    .then(res => {
                        this.countries = res.data;
                    });
            },
            getProvinces: function (id) {
                axios.get('/provincesj/' + id)
                    .then(res => {
                        this.provinces=  res.data;

                    });
            },
            getDistricts: function (id) {
                axios.get('/districtsj/' + id)
                    .then(res => {
                        this.districts=  res.data;

                    });
            },
            getCountry: function (id) {
                axios.get('/countryj/' + id)
                    .then(res => {
                        this.selectedCountry=  res.data;

                    });
            },
            getProvince: function (id) {
                axios.get('/provincej/' + id)
                    .then(res => {
                        this.selectedProvince=  res.data;

                    });
            },
            getDistrict: function (id) {
                axios.get('/districtj/' + id)
                    .then(res => {
                        this.selectedDistrict=  res.data;

                    });
            },
        },
        props: [
            'country_id',
            'province_id',
            'district_id'
        ],
        mounted() {
            if(this.country_id > 0 ){
                this.getCountries();
                this.getCountry(this.country_id);

                if(this.province_id >0){
                    this.getProvinces(this.country_id);
                    this.getProvince(this.province_id);
                    if(this.district_id > 0){
                        this.getDistricts(this.province_id);
                        this.getDistrict(this.district_id);
                    }
                }
            }else{
                this.getCountries();
            }
        }

    }


</script>
