<template>
    <div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Paises</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <v-select v-model="selectedCountry" label="name" :options="countries"></v-select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Provincias</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <v-select v-model="selectedProvince" label="name" :options="provinces"></v-select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label>Lista de ciudades</label>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" width="100%"
                       cellspacing="0"
                       id="districts">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        data() {
            return {
                countries: [],
                provinces: [],
                selectedCountry: "",
                selectedProvince: "",

            }
        },
        watch: {
            selectedCountry: function () {
                this.provinces = [];
                this.selectedProvince = "";

                if (this.selectedCountry.id > 0) {
                    this.getProvinces(this.selectedCountry.id);
                }
            },
            selectedProvince: function () {
                this.changeTable(this.selectedProvince.id);
            }
        },
        methods: {
            getCountries: function () {
                axios.get('/countriesj')
                    .then(res => {
                        this.countries = res.data;

                    });
            },
            getProvinces: function (id) {
                    axios.get('/provincesj/' + id)
                        .then(res => {
                            this.provinces=  res.data;
                        });


            },
            changeTable: function (id) {
                loadDistrictsTable(id);
            }
        },
        mounted() {
            this.getCountries();
        }

    }

    var loadDistrictsTable  = function (id) {
        if(id){
            var table = $('#districts').DataTable({
                "sDom": '<"pull-left"f>tip',
                "pagingType": "simple",

                responsive: true,
                "destroy": true,
                "lengthMenu": [[10, 25, 50, 100, 500, 1000], [10, 25, 50, 100, 500, 1000]],
                "bLengthChange": true, //thought this line could hide the LengthMenu
                "bInfo": true,
                autoWidth: true,
                language: {
                    url: "/js/datatables/datatable_spanish.json"
                },
                "processing": true, //Feature control the processing indicator.
                "serverSide": true, //Feature control DataTables' server-side processing mode.
                "order": [], //Initial no order.
                "ajax": "/districtsdt/"+id,
                "columns": [
                    {data: 'name'},
                    {data: 'action', name: 'action', orderable: false, searchable: false}
                ],
                "scroller": false,
                "scrollY": "600px",
                "scrollCollapse": true
            });


            $("#districts tbody").on("click", "a.edit", function () {
                var data = table.row($(this).parents("tr")).data();
                window.location.href = "/districts/"+data.id+"/edit" ;
            });

            $("#districts tbody").on("click", "a.show", function () {
                var data = table.row($(this).parents("tr")).data();
                window.location.href = "/districts/"+data.id ;
            });

            $("#districts tbody").on("click", "a.delete", function () {
                var data = table.row($(this).parents("tr")).data();
                $("#frmDistrictDelete #id").val(data.id);
            });
        }


    };

    $('#frmDistrictDelete #btn_eliminar').click(function (e) {
        e.preventDefault();
        $.ajax({
            method: 'delete',
            url: '/districts/'+$("#frmDistrictDelete #id").val(),
            success: function (response) {
                $('#modalDelete').modal('toggle');
                $('.modal-backdrop').remove();
                loadCountriesTable();
            },
            error: function (data) {
                console.log(data);
            },
        }).done( function (data) {
                toastr.options.timeOut = 5000;
                toastr.warning('Se ha eliminado el país');
            }
        );
    });

</script>
