<template>
    <div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Paises</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <input type="hidden" name="country_id" v-model="selectedCountry.id">
                    <v-select  v-model="selectedCountry"   label="name" :options="countries" placeholder="Seleccionar"></v-select>


                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        data() {
            return {
                countries: [],
                selectedCountry: "",
            }
        },
        methods: {
            getCountries: function () {
                axios.get('/countriesj')
                    .then(res => {
                        this.countries = res.data;

                    });
            },

        },
        mounted() {
            this.getCountries();
        }

    }


</script>
