<template>
<div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Paises</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list "></i></span>
                <v-select v-model="selectedCountry" label="name" :options="countries"></v-select>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label>Lista de provincias</label>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" width="100%" cellspacing="0"
                   id="provinces">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>
</template>

<script>
    export default {

        data() {
            return {
                countries: [],
                selectedCountry: ""
            }
        },
        watch: {
            selectedCountry: function () {
                this.changeTable(this.selectedCountry.id);
            },
        },
        methods: {
            getCountries: function () {
                axios.get('/countriesj')
                    .then(res => {
                        this.countries = res.data;
                    });
            },
            changeTable: function (id) {
                loadProvincesTable(id);
            }
        },


        mounted() {
            this.getCountries();
        }

    }

    var loadProvincesTable  = function (id) {
        var table = $('#provinces').DataTable({
            "sDom": '<"pull-left"f>tip',
            "pagingType": "simple",

            responsive: true,
            "destroy": true,
            "lengthMenu": [[10, 25, 50, 100, 500, 1000], [10, 25, 50, 100, 500, 1000]],
            "bLengthChange": true, //thought this line could hide the LengthMenu
            "bInfo": true,
            autoWidth: true,
            language: {
                url: "/js/datatables/datatable_spanish.json"
            },
            "processing": true, //Feature control the processing indicator.
            "serverSide": true, //Feature control DataTables' server-side processing mode.
            "order": [], //Initial no order.
            "ajax": "/provincesdt/"+id,
            "columns": [
                {data: 'name'},
                {data: 'action', name: 'action', orderable: false, searchable: false}
            ],
            "scroller": false,
            "scrollY": "600px",
            "scrollCollapse": true
        });


        $("#provinces tbody").on("click", "a.edit", function () {
            var data = table.row($(this).parents("tr")).data();
            window.location.href = "/provinces/"+data.id+"/edit" ;
        });

        $("#provinces tbody").on("click", "a.show", function () {
            var data = table.row($(this).parents("tr")).data();
            window.location.href = "/provinces/"+data.id ;
        });

        $("#provinces tbody").on("click", "a.delete", function () {
            var data = table.row($(this).parents("tr")).data();
            $("#frmProvinceDelete #id").val(data.id);
        });

    }

    $('#frmProvinceDelete #btn_eliminar').click(function (e) {
        e.preventDefault();
        $.ajax({
            method: 'delete',
            url: '/provinces/'+$("#frmProvinceDelete #id").val(),
            success: function (response) {
                $('#modalDelete').modal('toggle');
                $('.modal-backdrop').remove();
                loadCountriesTable();
            },
            error: function (data) {
                console.log(data);
            },
        }).done( function (data) {
                toastr.options.timeOut = 5000;
                toastr.warning('Se ha eliminado el país');
            }
        );
    });


</script>
