<template>
    <div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Paises</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                        <input type="hidden" name="country_id" v-model="selectedCountry.id">
                        <v-select  v-model="selectedCountry"   label="name" :options="countries" placeholder="Seleccionar"></v-select>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Provincias</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-list "></i></span>
                    <input type="hidden" name="province_id" v-model="selectProvince.id">
                    <v-select v-model="selectProvince"  label="name" :options="provinces" placeholder="Seleccionar"></v-select>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        data() {
            return {
                countries: [],
                provinces: [],
                selectedCountry: "",
                selectProvince:""
            }
        },
        watch: {
            selectedCountry: function () {
                this.provinces = [];
                if (this.selectedCountry.id > 0) {
                    this.getProvinces(this.selectedCountry.id);
                }
            }
        },
        methods: {
            getCountries: function () {
                axios.get('/countriesj')
                    .then(res => {
                        this.countries = res.data;

                    });
            },
            getProvinces: function (id) {
                axios.get('/provincesj/' + id)
                    .then(res => {
                        this.provinces=  res.data;

                    });
            }
        },
        mounted() {
            this.getCountries();
        }

    }


</script>
